<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2024 <a href="https://utt.edu.mx/">Universidad Tecnológica de Torreón</a>.</strong>
    Anything.
</footer>

<!-- ./wrapper -->