@model PracticaUno.Models.Product_categories

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product_categories</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category_name)
        </dd>
      
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.category_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
