@model PracticaUno.Models.Regions

@{
    ViewData["Title"] = "Details";
}
<br />
<h2 class="text-center">Region details</h2>

<div>
    <h4>Regions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Region name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.region_name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.region_id" class="btn btn-outline-primary">Edit</a>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>
