@model PracticaUno.Models.Inventories

@{
    ViewData["Title"] = "Create";
}

<br />
<h1 class="text-center">Create new inventory</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="warehouse_id" class="control-label">Warehouse</label>
                <select asp-for="warehouse_id" class="form-control" asp-items="ViewBag.warehouse_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="quantity" class="control-label">Quantity</label>
                <input asp-for="quantity" class="form-control" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
